# สำหรับ client
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_LOCALE=
NEXT_PUBLIC_ENV_MODE=
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_DEBUG_MODE=
NEXT_PUBLIC_EXPORT_MODE=

# สำหรับ next.config.js (server-side)
ENV_MODE=
EXPORT_MODE=
